<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>관리자 로그인</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
          </div>
          <div class="panel-body">
            <filedset>
              <div class="login-form">
                <input class = "form-control" type="form" placeholder="ID"/>
              </div>
              <div class="login-form">
                <input class = "form-control" type="Password"    placeholder="password"/>
              </div>
              <button type="submit" class="btn btn-lg btn-success btn-block">login</button>
            </filedset>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>