<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome BookMall</title>
<link rel="stylesheet" href="/css/market/MarketMain.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript"
	src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="exampleJs.js"></script>
<script>
	$(document).ready(function() {
		$('.slider').slick({
			autoplay : true,
			autoplaySpeed : 1000,
			slidesToShow : 3,
			slidesToScroll : 1,
			arrows : true
		});

	});
</script>
</head>

<body>

	<div class="wrapper">
		<div class="wrap">
			<div class="top_gnb_area">
				<div class="container">
					<div class="topBtnSort">
						<div class=top_button>
							<button type="button" class="btn btn-primary ">로그인</button>
							<button type="button" class="btn btn-primary ">회원가입</button>
							<button type="button" class="btn btn-primary ">고객센터</button>
						</div>
					</div>

				</div>
			</div>
			<div class="top_area">
				<div class="logo_area">
					<a href="#"> <img src="img8.jpg">
					</a>
				</div>
				<div class="search_area">
					<div class="container">
						<div class="col-sm-6">
							<form class="form-inline">
								<div class="searchBar_Btn">
									<input class="topInput" type="search" name="query"
										placeholder="검색어를 입력하세요">
									<button type="submit">검색</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="login_area">
					<div class="cart">
						<a href="#"> <img src="img_9.png" width = "50px" height="50px">
						</a>
					</div>
					<div class="loginIcon">
						<a href="#"> <img src="img_10.png" width = "50px" height="50px">
						</a>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="navi_bar_area">
				<ul class="menu">
					<li><a href="#">MENU1</a>
						<ul class="submenu">
							<li><a href="#">submenu01</a></li>
							<li><a href="#">submenu02</a></li>
							<li><a href="#">submenu03</a></li>
							<li><a href="#">submenu04</a></li>
							<li><a href="#">submenu05</a></li>
						</ul></li>
					<li><a href="#">MENU2</a>
						<ul class="submenu">
							<li><a href="#">submenu01</a></li>
							<li><a href="#">submenu02</a></li>
							<li><a href="#">submenu03</a></li>
							<li><a href="#">submenu04</a></li>
							<li><a href="#">submenu05</a></li>
						</ul></li>
					<li><a href="#">MENU3</a>
						<ul class="submenu">
							<li><a href="#">submenu01</a></li>
							<li><a href="#">submenu02</a></li>
							<li><a href="#">submenu03</a></li>
							<li><a href="#">submenu04</a></li>
							<li><a href="#">submenu05</a></li>
						</ul></li>
					<li><a href="#">MENU4</a>
						<ul class="submenu">
							<li><a href="#">submenu01</a></li>
							<li><a href="#">submenu02</a></li>
							<li><a href="#">submenu03</a></li>
							<li><a href="#">submenu04</a></li>
							<li><a href="#">submenu05</a></li>
						</ul></li>
					<li><a href="#">MENU5</a>
						<ul class="submenu">
							<li><a href="#">submenu01</a></li>
							<li><a href="#">submenu02</a></li>
							<li><a href="#">submenu03</a></li>
							<li><a href="#">submenu04</a></li>
							<li><a href="#">submenu05</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="content_area">
				<div class="sliderArea1">
					<div class="slider">
						<div>
							<img src="img_1.jpg" width="100%" height="450px" alt="">
						</div>
						<div>
							<img src="img_2.jpg" width="100%" height="450px" alt="">
						</div>
						<div>
							<img src="img_3.jpg" width="100%" height="450px" alt="">
						</div>
						<div>
							<img src="img_4.jpg" width="100%" height="450px" alt="">
						</div>
						<div>
							<img src="img_5.jpg" width="100%" height="450px" alt="">
						</div>
						<div>
							<img src="img_6.jpg" width=100%, height="450px" alt="">
						</div>
					</div>
				</div>
				<div class="sliderArea2">
					<div class="slider">
						<div>
							<img src="img_1.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_2.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_3.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_4.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_5.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_6.jpg" width=100%, height=230px alt="">
						</div>
					</div>
				</div>
				<div class="sliderArea2">
					<div class="slider">
						<div>
							<img src="img_1.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_2.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_3.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_4.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_5.jpg" width="100%" height="230px" alt="">
						</div>
						<div>
							<img src="img_6.jpg" width=100%, height=230px alt="">
						</div>
					</div>
				</div>
			</div>
			<div id=footer>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h4>회사 정보</h4>
							<ul>
								<li>회사명: 쇼핑몰</li>
								<li>사업자등록번호: 123-45-67890</li>
								<li>대표자: 홍길동</li>
								<li>주소: 서울시 강남구 삼성동 123-45</li>
							</ul>
						</div>
						<div class="col-md-4">
							<h4>고객 센터</h4>
							<ul>
								<li>전화번호: 02-123-4567</li>
								<li>이메일: cs@shop.com</li>
								<li>상담 시간: 평일 09:00~18:00</li>
							</ul>
						</div>
						<div class="col-md-4">
							<h4>팔로우하기</h4>
							<ul>
								<li><a href="#">Facebook</a></li>
								<li><a href="#">Instagram</a></li>
								<li><a href="#">Twitter</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
</body>
</html>
