<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysu.recipeninja.market.dao.Market_DAO">
    <select id="getBannerById" parameterType="int" resultType="com.ysu.recipeninja.market.model.vo.Market_VO">
        SELECT * FROM banner WHERE bannerId = #{bannerId}
    </select>
</mapper>