* {
	margin: 0;
	padding: 0;
}

/* 화면 전체 렙 */
.wrapper {}

#toMenu {
	height: 30px;
	width: 850px;
}

#topMenu ul li {
	list-style: none;
	color: white;
	background-color: #2d2d2d;
	float: left;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}

#topMenu .menuLink {
	text-decoration: none;
	color: white;
	display: block;
	width: 150px;
	font-size: 30px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum, Arial;
}

/* content 랩 */
.wrap {
	width: 1080px;
	margin: auto;
}

/* 홈페이지 기능 네비 */
.top_gnb_area {
	width: 100%;
	height: 50px;
	background-color: #a2a2ea;
}


/* 로고, 검색, 로그인 */
.top_area {
	width: 100%;
	height: 150px;
	background-color: #f7f0b9;
}

/* 로고 영역 */
.logo_area {
	width: 25%;
	height: 100%;
	background-color: red;
	float: left;
}

/* 검색 박스 영역 */
.search_area {
	width: 50%;
	height: 100%;
	background-color: yellow;
	float: left;
	text-align: center;
}

/* 로그인 버튼 영역 */
.login_area {
	width: 25%;
	height: 100%;
	display: inline-block;
	text-align: center;
}

.login_button {
	height: 50%;
	background-color: #D4DFE6;
	margin-top: 30px;
	line-height: 77px;
	font-size: 40px;
	font-weight: 900;
	border-radius: 10px;
	cursor: pointer;
}

.login_area>span {
	margin-top: 10px;
	font-weight: 900;
	display: inline-block;
}

.login_button {
	height: 50%;
	background-color: #D4DFE6;
	margin-top: 30px;
}

.top_button {
	position: relative;
	left: 70%;
}

.topInput {
	width: 300px;
	height: 50px;
	margin-top: 70px;
}

/* 제품 목록 네비 */
.navi_bar_area {
	width: 100%;
	height: 42px;
	background-color: #400040;
	text-align: center;
	float: left;
}

/* 홈페이지 메인 제품 목록  */
.content_area {
	width: 100%;
	height: 1100px;
}

/* float 속성 해제 */
.clearfix {
	clear: both;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;


}

.menu>li {
	width: 20%;
	/*20*5=100%*/
	float: left;
	text-align: center;
	line-height: 40px;
	background-color: #5778ff;
}

.menu a {
	color: #fff;
}

.submenu>li {
	line-height: 50px;
	background-color: #94a9ff;
}

.submenu {
	height: 0;
	/*ul의 높이를 안보이게 처리*/
	overflow: hidden;
	position: relative;
	z-index: 10;
}

.menu>li:hover {
	background-color: #94a9ff;
	transition-duration: 0.5s;
}

.menu>li:hover .submenu {
	height: 250px;
	/*서브메뉴 li한개의 높이 50*5*/
	transition-duration: 1s;
}

#footer {
	border-top: #ddd solid 2px;
	width: 100%;
	height: 200px;
	background-color: #c0bfc8;
	float: left;
	margin-top: 200px;
}

#footer ul {
	list-style: none;
}

#footer li {
	margin: 10px;
}

/* left-menu 크기  */
.leftmenusz {
	width: 250px;
	float: left;
}

/* my 레시피 닌자 글자  */
.myrenin {
	width: 95px;
	height: 30px;
	color: rgb(255, 255, 255);
	text-indent: inherit;
	text-align: center;
	font-size: 32px;
	font-weight: 400;
	letter-spacing: -2px;
}

/* my 레시피 닌자 박스 크기 및 색깔 조정  */
.myreninbox {
	height: 150px;
	padding: 1px;
	background: rgb(40, 109, 180);
	text-align: center;
	box-sizing: border-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

/* left-menu 색깔 및 글자 위치 조정  */
.leftap {
	background-color: rgb(255, 255, 255);
	border-width: 0px 1px 1px;
	border-style: solid;
	border-color: rgb(225, 228, 230);
	border-image: initial;
	color: rgb(17, 17, 17);
	padding: 10px 0px;
	margin: 0px;
	
}

/* left-menu 첫 글자 조정 */
.leftfsap {
	display: block;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	color: rgb(17, 17, 17);
}

.leftbap a {
	color: rgb(17, 17, 17);
	display: block;
	padding: 3px 0px;
}

/* left-menu 본문 글자 조정 */
.leftbap {
	font-size: 20px;
	line-height: 30px;
	margin-top: 20px;
}

/* left-menu 글자 가운데 정렬 및 가로 줄 구역 나누기 */
.leftcen {
	padding: 15px 10px 16px 17px;
	border-bottom: 1px solid rgb(225, 228, 230);
}

/* left-menu 글자 가운데 정렬 및 가로 줄 구역 나누기 */
.leftlcen {
	padding: 15px 10px 16px 17px;
	border-bottom: 0px solid;
}

/* 점 없애기 */
li {
	list-style-type: none;
}

/* 밑줄 제거 */
.leftcen a {
	text-decoration: none;
}

/* 밑줄 제거 */
.leftlcen a {
	text-decoration: none;
}

/* dashboard+본문박스크기조정 */
.textsz {
	width: 830px;
	float: left;
	margin: 0px 0px 16px;
}

/* dashboard */
.dashbd {
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	border-width: 1px 1px 1px 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: rgb(225, 228, 230);
	border-right-color: rgb(225, 228, 230);
	border-bottom-color: rgb(225, 228, 230);
	border-image: initial;
	border-left-style: initial;
	border-left-color: initial;
	height: 150px;
	font-weight: 100;
	font-style: normal;
	box-sizing: border-box;
	font-family: robotoThinNumber, roboto, "Courier New", Tahoma, NanumGothic, MalgunGothic, 돋움, dotum, sans-serif;
}

/* dashboard 구역 나누기 */
.kiFKDs {
	position: relative;
	float: left;
	min-width: 156px;
	height: 148px;
	padding: 30px 0px 0px 30px;
	border-right: 1px solid rgb(225, 228, 230);
	border-left: 1px solid rgb(225, 228, 230);
	box-sizing: border-box;
}

/* dashboard 구역 나누기 */
.kiFKDs:nth-child(4) {
	border-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	height: 148px;
}

/* dashboard 글자 자리 맞추기 */
.giyKno {
	display: block;
	margin-bottom: 13px;
	height: 21px;
	color: rgb(17, 17, 17);
	font-size: 15px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
	font-family: AppleSDGothicNeo;
}

/* dashboard 갯수 글자 조정 */
.ezYdRF {
	display: block;
	margin-top: -5px;
	text-shadow: rgba(0, 0, 50, 0.15) 0px 1px 1px;
}

.ezYdRF>a {
	color: rgb(51, 51, 51);
	cursor: pointer;
	text-decoration: none;
}

.ezYdRF span {
	color: rgb(17, 17, 17);
}

.ezYdRF .my__stat__num-font {
	color: rgb(17, 17, 17);
	font-size: 50px;
	line-height: 60px;
	cursor: pointer;
}

.jRDjmi {
	width: 156px;
}

.dtSfBi {
	width: 360px;
	height: 80px;
	border-bottom: 1px solid rgb(225, 228, 230);
	box-sizing: border-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}

.dtSfBi span {
	color: rgb(17, 17, 17);
}

/* dashboard 위 아래 칸 글자 조정 */
.dtSfBi:nth-child(2) {
	height: 50%;
	border-bottom: 0px solid rgb(225, 228, 230);
	border-top: 1px solid rgb(225, 228, 230);
}

.eUaJbX .mc-item-right-number {
	margin: 0px 2px 0px 0px;
	color: rgb(17, 17, 17);
	font-size: 25px;
	line-height: 35px;
	text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}

.eUaJbX .mc-item-right-unit {
	margin: 12px 30px 0px 2px;
	vertical-align: 2px;
	font-size: 18px;
	text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}


/* dashboard 위 아래 칸 글자 조정 */
.bLbGAT {
	float: left;
	margin: 0px 0px 0px 30px;
	height: 21px;
	font-size: 15px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
	font-family: AppleSDGothicNeo;
}

/* dashboard 와 아래 영역 간격 조정 */
.bqsWKB {
	height: auto;
	margin-bottom: 40px;
}

/* mypage-area-contents 왼쪽 여백 */
.dHwqA-d {
	margin: 0px 0px 0px 50px;
}
.product-like-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* 상품 찜 리스트 아래 간격 */
.gdQXGY {
	margin: 0px 0px 30px;
}

/* 상품 찜 리스트 글자 조정 */
.QxeWJ {
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.3;
	letter-spacing: -0.5px;
	color: rgb(15, 15, 15);
}

/* 상품 찜 리스트 글자 크기 조정 */
.izFbWh {
	font-size: 1.7rem;
}

.count {
	font-weight: bold;
}

/* 전체선택 라벨 스타일 */
.select-all label {
	background-color: #4CAF50;
	/* 버튼 배경색 */
	border: none;
	/* 테두리 없음 */
	color: white;
	/* 글자 색상 */
	padding: 10px 25px;
	/* 패딩 */
	text-align: center;
	/* 텍스트 중앙 정렬 */
	text-decoration: none;
	/* 밑줄 없음 */
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
	margin-right: 0;
	margin: 0px 0px 20px;
}

.delete-selected-items {
	background-color: #4CAF50;
	/* 버튼 배경색 */
	border: none;
	/* 테두리 없음 */
	color: white;
	/* 글자 색상 */
	padding: 10px 25px;
	/* 패딩 */
	text-align: center;
	/* 텍스트 중앙 정렬 */
	text-decoration: none;
	/* 밑줄 없음 */
	display: inline-block;
	/* 인라인 블록 */
	font-size: 16px;
	/* 글자 크기 */
	margin: 4px 2px;
	/* 여백 */
	cursor: pointer;
	/* 커서 모양 */
	margin: 0px 0px 20px;
}

.select-all,
.delete-selected-items {
	display: inline-block;
	margin-right: 25px;
	/* 오른쪽 마진을 10px로 지정 */
}

.product-list {
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}

.product-item {
	margin: 8px;
	padding: 15px;
	border: 1px solid #ccc;
	text-align: center;
	max-width: 167px;
	float: left;
	width: 33.33%;
}

.product-item img {
	max-width: 100%;
	max-height: 100%;
	height: 200px;
	margin-bottom: 10px;
}

.product-item h3 {
	padding: 10px;
	font-size: 18px;
	margin-bottom: 10px;
}

.product-item .price {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.add-to-cart {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.add-to-cart:hover {
	background-color: #3e8e41;
}

.clickable {
	cursor: pointer;
}

/* 체크박스 스타일 */
.product-checkbox {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 10px;
	cursor: pointer;
}

/* 체크박스 체크 모양 */
.product-checkbox:before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #aaa;
	border-radius: 3px;
}

/* 체크박스 체크된 모양 */
.product-checkbox:checked:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	top: 4px;
	left: 4px;
	border-radius: 2px;
}

/* 전체선택 라벨 스타일 */
.select-all label {
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
	margin-right: 0;
}